{% extends 'dds/base.html' %}

{% block title %}{% if form.instance.pk %}Редактировать тип{% else %}Создать тип{% endif %}{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Редактировать тип{% else %}Создать тип{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Название</label>
        {{ form.name }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'type_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}